.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border: 0;
}
#headLine{
    font-family: "Abril Fatface";
    font-size: 100px;
    color: #ffffff;
}

#upperHalf {
    background: url('../images/modernView.png') 50% 0 no-repeat;
    max-width: 100%;
    height: 50Vh;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;

}
#modalForm{
    position: absolute;

    background-color: rgba(0,0,0,.0001) !important;

    left: 50%;
    /* now you must set a margin left under zero - value is a half width your window */
    margin-left: -312px;
    /* this same situation is with height - example */
    height: 500px;
    top: 50%;
    margin-top: -250px;
}

#lowerHalf {
    background-color: #ffffff;
    width: 100%;
    color: #333333;
    height: 50Vh;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    padding: 0 0 2rem;


}

#repoInput, #projectNameInput {
    min-width: 600px;
    max-width: 33%;
}

/* BootStrap media querys */

@media (min-width: 576px) {

}

/*Smal tablets. 768px +*/
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (1200px and up) */
@media (min-width: 1200px) {

}